{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:promise/recommended",
    "plugin:vue/recommended",
    "plugin:vue-a11y/recommended"
  ],
  "plugins": ["node", "promise", "vue", "vue-a11y"],
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn"
  }
}
