$body-font-family = 'INGRegular', 'Helvetica Neue', sans-serif
$heading-font-family := $body-font-family
$headings := {
  h1: { size: 112px, weight: 300, line-height: 1, letter-spacing: -.04em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 400, line-height: 1.35, letter-spacing: -.02em, font-family: $heading-font-family },
  h3: { size: 45px, weight: 400, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family },
  h4: { size: 34px, weight: 400, line-height: 40px, letter-spacing: normal, font-family: $heading-font-family },
  h5: { size: 24px, weight: 400, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family },
  h6: { size: 20px, weight: 700, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 400 },
  body-2: { size: 14px, weight: 700 },
  body-1: { size: 14px, weight: 400 },
  caption: { size: 12px, weight: 400 },
  button: { size: 14px, weight: 700 }
}
.fa-icon
  width: auto;
  height: 1em;
  /* Include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
@font-face
  font-family: INGBold;
  src: url('~assets/INGMeWeb-Bold.woff');
  font-weight: 700;
  font-display: fallback;

@font-face
  font-family: INGRegular;
  src: url('~assets/INGMeWeb-Regular.woff');
  font-weight: 400;
  font-display: fallback;

@import '~vuetify/src/stylus/app'
